<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <a ui-sref="home" ui-sref-active="active">
        Home
        <span class='glyphicon glyphicon-home'></span>
      </a>
    </li>
    <li role="presentation">
      <a ui-sref="categories" ui-sref-active="active">
        Categories
        <span class='glyphicon glyphicon-book'></span>
      </a>
    </li>
  </ul>

  <h2> Menu List for category: <b> {{itemsCtrl.category.name}} </b></h2>
  <item-list items="itemsCtrl.items"></item-list>

</div>
