<div>
  <div class="alert alert-success" ng-if="list.foundItems.length > 0"> Matched menu items </div>
  <div ng-repeat="item in list.foundItems">
    <div class="row">
      <div class="col-xs-3 col-md-3">{{item.name}}</div>
      <div class="col-xs-3 col-md-1">{{item.short_name}}</div>
      <div class="col-xs-3 col-md-5">{{item.description}}</div>
      <div class="col-xs-3 col-md-3">
          <button class="btn btn-default" ng-click = "list.onRemove({index: $index})">
            <span class="glyphicon glyphicon-remove">
            </span>
              Don't want this one!
          </button>
      </div>
    </div>
  </div>
</div>
